<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.home">

    <application>
        <activity
            android:name=".ui.activity.qrCode.ScanQRCodeActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".ui.activity.shopStreet.ShopStreetActivity" />
        <activity android:name=".ui.activity.shopStreet.ShopClassActivity" />
    </application>
</manifest>
