<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.home">

    <application>
        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name=".ui.activity.qrCode.ScanQRCodeActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".ui.activity.shopStreet.ShopStreetActivity" />
    </application>
</manifest>
