<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.home">

    <application>
        <activity android:name=".ui.activity.SpecialActivity" />
        <activity android:name=".ui.activity.shopstreet.ShopStreetActivity" />
        <activity android:name=".ui.activity.shopstreet.ShopClassActivity" />
    </application>
</manifest>
