<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.me">


    <application>
        <activity android:name=".ui.acitivity.account.LoginActivity" />
        <activity android:name=".ui.acitivity.setting.SettingActivity" />
        <activity android:name=".ui.acitivity.order.OrderActivity" />
        <activity android:name=".ui.acitivity.collection.CollectionActivity" />
        <activity android:name=".ui.acitivity.collection.FootprintActivity" />
        <activity android:name=".ui.acitivity.order.RefundActivity" />
        <activity android:name=".ui.acitivity.property.PropertyActivity" />
        <activity android:name=".ui.acitivity.message.MessageActivity" />
        <activity android:name=".ui.acitivity.property.CardSurplusActivity" />
        <activity android:name=".ui.acitivity.property.AccountSurplusActivity" />
        <activity android:name=".ui.acitivity.property.CouponActivity" />
        <activity android:name=".ui.acitivity.property.StorePacketActivity" />
        <activity android:name=".ui.acitivity.property.VipIntegralActivity" />
        <activity android:name=".ui.acitivity.distribution.DistributionActivity" />
        <activity android:name=".ui.acitivity.address.AddressManagerActivity" />
        <activity android:name=".ui.acitivity.address.EditAddressActivity" />
        <activity android:name=".ui.acitivity.setting.ResetPasswordActivity" />
        <activity android:name=".ui.acitivity.setting.BindPhoneActivity" />
        <activity android:name=".ui.acitivity.setting.FeedBackActivity" />
        <activity android:name=".ui.acitivity.setting.CheckAuthActivity" />
        <activity android:name=".ui.acitivity.address.SelectCityActivity" />
        <activity android:name=".ui.acitivity.order.PhysicalOrderInformationActivity" />
        <activity android:name=".ui.acitivity.order.VirtualOrderInformationActivity" />
        <activity android:name=".ui.acitivity.property.PdcashInformationActivity" />
        <activity android:name=".ui.acitivity.order.ReturnOrderInformationActivity" />
        <activity android:name=".ui.acitivity.order.RefundOrderInformationActivity" />
    </application>

</manifest>