<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.me">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--在Module单独开发模式下使用该mainfest-->
    <application
        android:name=".common.MeApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.acitivity.account.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.acitivity.setting.SettingActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.OrderActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.collection.CollectionActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.collection.FootprintActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.RefundActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.PropertyActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.message.MessageActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.CardSurplusActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.AccountSurplusActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.CouponActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.StorePacketActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.VipIntegralActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.distribution.DistributionActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.address.AddressManagerActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.acitivity.address.EditAddressActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.setting.ResetPasswordActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.setting.BindPhoneActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.setting.FeedBackActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.setting.CheckAuthActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.address.SelectCityActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.physicalorder.PhysicalOrderInformationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.virtualorder.VirtualOrderInformationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.property.PdcashInformationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.ReturnOrderInformationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.RefundOrderInformationActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.acitivity.order.OrderDeliveryActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.distribution.ReduceCashActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.EvaluateActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.refundorder.ApplyReturnActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.refundorder.ApplyRefundActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.acitivity.order.refundorder.OrderRefundActivity"
            android:launchMode="singleTop"/>
    </application>
</manifest>
