<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.classz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ui.activity.holo.HoloActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.vm.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.classiflist.ProductsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.details.ShoppingDetailsActivity" />
        <activity
            android:name=".ui.activity.order.ConfirmOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.order.ConfirmOrderActivity2"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.invoice.InvoiceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.store.StoreActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.store.StoreIntroActivity"
            android:launchMode="singleTop" />
        <!--<activity-->
        <!--android:name=".ui.activity.store.ProductsActivity2"-->
        <!--android:launchMode="singleTop" />-->
        <activity
            android:name=".ui.activity.chat.ChatActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.classiflist.ScreeningActivity" />
        <activity android:name=".ui.activity.holo.Holo2Activity" />

        <!--   android:process=":aidl"  android:enabled="true"
            android:exported="true"  android:process=":aidl"  -->
        <service
            android:name=".ui.service.SocketIoService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>