<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingpinmall.classz">

    <application>
        <activity
            android:name=".ui.vm.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.classiflist.ProductsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.details.ShoppingDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.order.ConfirmOrderActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>